.header-container 
{
    background-color: #ffa3a3; /* 薄い赤色 */
    color: #fff; /* 文字色を白に変更 */
    padding: 10px;
    text-align: center;
}

body {
    font-family: 'Georgia', serif;
    background: linear-gradient(120deg, #ffe6e6, #f0f8ff); /* 薄い赤のグラデーション */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

div {
    max-width: 400px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    text-align: center;
    margin: 20px 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #111132; /* 薄い赤色 */
    background-color: #2e8b25; /* 薄い赤の背景色 */
    border-radius: 15px;
}

button {
    background-color: #6ccc18; /* 薄い赤色 */
    color: #333;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
    width: 20%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

button:hover {
    background-color: #e87070; /* ホバー時の色を少し暗く */
    transform: scale(1.05);
}

p {
    margin: 10px 0;
    color: #444;
}